<body>

    <div class="heading">
        <h1 class="fa-solid fa-shoe-prints" style="aria-hidden=" true""> <span>Shoe</span> Catalogue </h1>
    </div>

   <section class="portfolio" id="portfolio">
       
        <div class="box-container">

            <div class="box">
                <img src="d.jpeg" alt="">
                <h3> project 01 </h3>
                <div class="icons">
                    <a href="#" class="fas fa-link"></a>
                    <!-- <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-search"></a> -->
                </div>
            </div>

            <div class="box">
                <img src="images.jpeg" alt="">
                <h3> project 02 </h3>
                <div class="icons">
                    <a href="#" class="fas fa-link"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-search"></a>
                </div>
            </div>

            {{!-- <div class="box">
                <img src="images.jpeg" alt="">
                <h3> project 03 </h3>
                <div class="icons">
                    <a href="#" class="fas fa-link"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-search"></a>
                </div>
            </div> --}}

            {{!-- <div class="box">
                <img src="images.jpeg" alt="">
                <h3> project 04 </h3>
                <div class="icons">
                    <!-- <a href="#" class="fas fa-link"></a> -->
                    <a href="https://waiter-avontuur.herokuapp.com" class="fas fa-share"></a>
                    <!-- <a href="#" class="fas fa-search"></a> -->
                </div>
            </div>

            <div class="box">
                <img src="images.jpeg" alt="">
                <h3> project 05 </h3>
                <div class="icons">
                    <a href="#" class="fas fa-link"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-search"></a>
                </div>
            </div>

            <div class="box">
                <img src="images.jpeg" alt="">
                <h3> project 06 </h3>
                <div class="icons">
                    <a href="#" class="fas fa-link"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-search"></a>
                </div>
            </div> --}}

        </div>

    </section>
</body>